.THIS.button {
    background: var(--color);
    color: var(--textColor);
    border-color: var(--color);
    width: var(--width);
    margin: 1em;
}

.THIS.button:hover {
    background: var(--hoverColor);
    color: var(--hoverText);
    border-color: var(--hoverText);
}
                                                                
.THIS.button:active {
   border-width: 3px;                                                                 
}

.THIS.button:focus {
    background: var(--hoverColor);
    color: var(--hoverText);
    border-color: var(--hoverText); 
    box-shadow: 0 var(--hoverText);
}