.THIS .killSwitch {
    width: 100%;
}

.THIS .carouselStyle{
    height: 30%;
}

.THIS .DetailTop{ 
}

.THIS #nameBox{
    overflow-x: hidden;
	min-height: 50px;
    font-size: 35px;
}
.THIS #priceBox{
    min-height: 30px;
    font-size: 32px;
    max-height: 30px;
    display: flex;
    justify-content: space-around;
}
.THIS #descriptionBox{
    min-height: 100px;
    max-height: 150px;
    overflow: scroll;
    overflow-x: hidden;
}

.THIS #AddToCartButton{
    float:right;
}

.THIS ::-webkit-scrollbar {
    width: 20px;
}
.THIS ::-webkit-scrollbar-track {
    background-color: transparent;
}

.THIS ::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}
.THIS ::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}