.THIS .DetailTop{ 
    font-size: 15px;
}
.THIS .DetailTop .Carousel{
    background-color: #FBC740;
    border: 0;
    border-radius: 5px;
}
.THIS .DetailTop .Carousel .slds-carousel__content{
    display: none;
}

.THIS .DetailTop .Carousel .slds-carousel__indicator-action{
    border: 2px solid #bd97cb;
}
.THIS .DetailTop .Carousel .slds-carousel__indicator-action:active{
    background: #bd97cb;
    background-color: #bd97cb;
}
.THIS .slds-carousel__indicator-action.slds-is-active {
    background: #bd97cb;
    background-color: #bd97cb;
}
.THIS .slds-carousel__indicator-action.slds-is-active:hover{
    background: #bd97cb;
    background-color: #bd97cb;
}
.THIS .DetailTop .DescriptionProtion{
    border: 2px solid #bd97cb;
    border-radius: 5px;
}
.THIS #nameBox{
    overflow-x: hidden;
	min-height: 50px;
    font-size: 35px;
}
.THIS #priceBox{
    min-height: 30px;
    font-size: 32px;
    max-height: 30px;
    display: flex;
    justify-content: space-around;
}
.THIS #rentalBox{
    min-height: 30px;
    font-size: 32px;
    max-height: 30px;
    display: flex;
    justify-content: space-around;
}
.THIS #descriptionBox{
    min-height: 100px;
    max-height: 150px;
    overflow: scroll;
    overflow-x: hidden;
    border-radius: 5px;
}

.THIS #AddToCartButton .cPalaceButton{
    float:right;
}
.THIS #AddToCartButton .cPalaceButton{
    margin:0 !important;
}
.THIS ::-webkit-scrollbar {
    width: 20px;
}
.THIS ::-webkit-scrollbar-track {
    background-color: transparent;
}

.THIS ::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}
.THIS ::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

.THIS #review-section {
    border: 2px solid #bd97cb;
    border-radius: 5px;
}

.THIS .divider-holder {
    position: relative;
    margin: 2em 0;
}

.THIS .list-divider {
    position: relative;
    height: 0;
    border-top: 30px dotted #fbc740;
    margin: 0 40% 1em;
}

.THIS .divider-shadow {
    position: absolute;
    width: 20%;
    border-top: 30px dotted #bd97cb;
    margin: 0 40%;
    top: 2px;
    left: 2px;
}