body{
    background-color: white;
}

btn{
    border:none; 
    background:#F4C558; 
    color:#7C5B3E;
}

btn:hover{
    border: none; 
    background: #e29255;
    color: #7C5B3E;
}

.description{
    color: #7C5B3E;
}

.img{
    border-radius: 5px;
    border: 2px solid #D17C4E;
	height: 100px;
    margin-bottom: 15px;
    width: 100px;
}

.price{
    color: #7C5B3E;
    font-weight: bold;
}

.product{
    background: #F4C558;
    border-radius: 5px;
    height: 285px;
    margin-right: 15px; 
    max-width: 250px;
    padding-top: 20px; 
    padding-right: 25px;
    padding-left: 25px;
    text-align: center;
    transition: .3s;
    width: 23vh;
}

.product:hover{
    background: #E69A3A;
    border-radius: 5px;
    height: 285px; 
    margin-right: 15px; 
    max-width: 250px;
    padding-top: 25px; 
    text-align: center;	
    transition: .3s;
    width: 23vh;
}

.productLabel{
    color: white;
    font-size: 1.4em; 

    font-weight: bold;
}

 