.THIS.starBackground .star {
    padding: 4px;
    margin: auto;
}

/*
 * give it the warning variant and the color can be fill
 */
.THIS.starBackground .slds-icon-text-warning{
    fill: yellow;
}

.THIS.starBackground{
    box-sizing: content-box;
    background-color: #FBC740;
    border: 2px solid #E56997;
    border-radius: 25px;
    display: flex;
    justify-content: center;
}