.THIS.starBackground .star {
    padding: 4px;
    stroke: #bd97cb;
}

/*
 * another method of changing icon color
 * give it the warning variant or any other variant that isn't inverse
 * then go to the class of the thing that houses it, then modifies the slds-icon-text-warning class
 * you can now create a class for white, yellow, or half yellow even.
 * then just use the $A.util.addClass/removeClass in js controller to switch out add or remove the class of an element.
*/
.THIS.starBackground .slds-icon-text-warning{
    fill: #bd97cb;
}

.THIS.starBackground{
    box-sizing: content-box;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    padding: 0 20%;
}