.THIS.starBackground .star {
    padding: 4px;
    margin: auto;
}

/*
 * another method of changing icon color
 * give it the warning variant or any other variant that isn't inverse
 * then go to the class of the thing that houses it, then modifies the slds-icon-text-warning class
.THIS.starBackground .star1 .slds-icon-text-warning{
    fill: red;
}
*/

.THIS.starBackground{
    box-sizing: content-box;
    background-color: rgb(244 197 88);
    border: 2px solid yellow;
    border-radius: 25px;
    width:200px;
}