.THIS.checkbox-group {
    border: 1px solid #fbc740;
    border-radius: 5px;
    padding: 1em;
}

.THIS.category-header {
    background: #fbc740;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
}