.THIS.WriteSection{
    border: 0;
}
.THIS.ReadSection {
    border: 0;
    max-height: 20rem; 
    overflow: scroll; 
    overflow-x: hidden;
}
.THIS.ReadSection .UserReview{
    background-color: #66D2D6;
}
.THIS.ReadSection .UserReview .content{
    padding: 5px;
    border: 0;
    border-radius: 5px;
}

.THIS.dotted-divider {
    border-top: 20px dotted #bd97cb;
    margin: 0 40%;
    height: 0;
}

.THIS .star-container {
    padding: 1em;
}